html, body {
    margin: 0;
    height: 100%;
    background: #f1f1f1;
}

.carousel-control {
    width: 180px;
    height: 70%;
}

@media (max-width: 1100px) {
    .carousel-control, .carousel-control.right, .carousel-control.left {
        opacity: .3;
        background-image: none;
    }
}

.comment-holder {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 12px 0px #aaa;
    padding: 10px;
    background: white;
    word-wrap: break-word;
}

.title {
    font-size: 30px;
    background: white;
    margin: 0;
    padding: 10px;
}

.carousel {
    background: black;
    transition: all ease 1s;
}

.header {
    height: 50px;
    width: 100%;
    background: white;
    box-shadow: inset 0px -4px 10px -4px #aaa;
    padding: 10px 15px 10px 15px;
}

.tv-ico {
    height: 100%;
}

.comment {
    animation: fly-in .35s ease both;
}

#Video {
    height: 500px;
    animation: grow-up .5s ease both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes grow-up {
    from {
        height: 1px;
    }
}

@keyframes fly-in {
    from {
        transform: translateY(15rem);
        opacity: 0;
    }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.spinner {
    margin-top: 15%;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 9998;
    animation: fly-in .35s ease both;
    animation: pulse .35s ease infinite;
    animation-delay:.35s;
}

.spinner-img {
    left: 50%;
    width: 100px;
    margin-left: -50px;
    position: relative;
    border-radius:50%;
}

@keyframes pulse {

    50% {
        opacity:.5;
    }
}